body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    
    }
.flexible-container{
    display: flex;
    margin-bottom: 150px;
   
}
h1{
    color: black;
    font-size: 40px;

    
}
   
.border-left{
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
    border-left: 4px solid tomato;
    padding-left: 2%;
    border-radius: 0%
   
}

span{
    color: chocolate;
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding-left:8%;
    padding-right:6;
}
.half-width img{
    width: 70%;
  

}

.link-button{
    background-image: linear-gradient(red,tomato);
    text-decoration: none;
    color: ghostwhite;
    padding: 5px 10px;

}
.text-center{
    text-align: center;
}
.mission-vission-goal-item{
    width: 100%;
    margin-right: 10%;
    margin-left:  5%;
    padding: 20px 10px;
    border-radius: 5%;
    height: 300px;
    
    
    

}
.mission-vission-goal-item img{
    width: 40%;
}
#mission-part{
    width: 100%;
    border: 2px;
    background-color: skyblue;

}
#vission-part{
    width: 100%;
    border: 10px;
    background-color: thistle;
}
#goal-part{
    width: 100%;
    border: 10px;
    background-color: wheat;
}
strong{
    color: sandybrown;
}
small{
    color: white
}
.color-add{
    color: white;
   
}
footer{
    background-color: black;
    text-align: center;
    color: white;
}